################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NVP_Libs/FileContentIndex
/.vs/NVP_Libs/v17
/.vs
/NVP_Libs/.vs/NVP_Libs
/NVP_Libs/Framework4.8/NVP_Libs.Nanocad/obj/Debug
/NVP_Libs/Framework4.8/NVP_Libs.Nanocad/bin/Debug
/NVP_Libs/Framework4.8/NVP_Libs.Nanocad/.vs
/NVP_Libs/Framework4.8/ready_build/*
/NVP_Libs/packages
*.user

*.htm
/NVP_Libs/Framework4.8/NVP_Libs.Revit/obj/Debug/NVP_Libs.Revit.pdb
/NVP_Libs/Framework4.8/NVP_Libs.Revit/obj/Debug/NVP_Libs.Revit.csproj.AssemblyReference.cache
/NVP_Libs/Framework4.8/NVP_Libs.Revit/obj/Debug/NVP_Libs.Revit.dll
/NVP_Libs/Framework4.8/NVP_Libs.Revit/bin/Debug/NVP_Libs.Revit.pdb
/NVP_Libs/Framework4.8/NVP_Libs.Revit/bin/Debug/NVP_Libs.Revit.dll
/NVP_Libs/Framework4.8/NVP_Libs.Revit/bin/Debug/NVP.API.dll
